.scroll-to-top-btn {
  display: none;
  position: fixed;
  bottom: 150px;
  right: 50px;
  padding: 20px 20px;
  font-size: 16px;
  color: #fff;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  z-index: 1000;
  transition: opacity 0.3s ease;
}

.scroll-to-top-btn.show {
  display: block;
}
